@import "./navbar.css";
@import "./footer.css";
@import "./main-content.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html, body {
    height: 100%; 
}

body {
    display: grid;
    flex-direction: column; 
    font-family: Arial, sans-serif;
}



